@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HEALTHY KIDS SA</h1>
    <p class="lead">Healthy kids SA is a non-profit organization that reaches out to the parents of South Africa who do not have the means to 
    keep their children healthy and protected.We thrive in encouraging parents to get their children vaccinated so that our little ones don't suffer
    server symptoms of diseases and illnesses.</p>
</div>

<body>
 
 <img src="~/Content/Images/nature_happiness_759.jpg" />
</body>

<div class="row">
    <div class="col-md-4">
        <h2>Get started with your vaccine application</h2>
        <p>
         To start with your application please click on the button below where you will fill in the necessary details
            required.
        </p>
       
    </div>
   
    
</div>